<div class="row bg-light rounded my-3 py-3">
<div class="col-6">
<p class="fw-bold">Celkové hodnocení: {$review->review}/5</p>
<span>Recenze: <p class="fw-bold"> {$review->content}</p></span></div>
<div class="col-6 justify-content-end d-flex">
<div class="wrapper text-end">
<a class="text-decoration-none text-black" href="{plink user:default $review->user->id}">
<div class="user-info d-flex gap-4 fw-bold">
<p>{$review->user->name}</p>
<p>{$review->user->email}</p>
</div>
</a>
<a n:href="reviewDelete!" n:if="$user->isAllowed($reviewResource, 'delete')" class="btn btn-danger" >VYMAZAT</a>
</div>
</div>
</div>
