<div class="row">
<div class="col-6">
<p>Celkové hodnocení: {$review->review}</p>
<span>Recenze: <p> {$review->content}</p></span></div>
<div class="col-6 justify-content-end d-flex gap-5">
<p>{$review->user->name}</p>
<p>{$review->user->email}</p>
</div>
</div>
