
<div>
<h1>{$product->name}</h1>
<p>{$product->description}</p>
<p>{$product->price} </p>
<p>{$category->name} </p>
<a n:if="$user->isAllowed('product', 'edit')" class="btn btn-primary" href="{plink product:edit $product->id}">UPRAVIT PRODUKT</a>
</div>
