
<div>
<h1>{$product->name}</h1>
<p>{$product->description}</p>
<p>{$product->price} </p>
<p>{$category->name} </p>
<a class="btn btn-primary" href="{plink product:manipulate $product->id}">UPRAVIT PRODUKT</a>
</div>
