<div class="col-3 d-flex justify-content-center flex-wrap">
    <a href="{plink Product:default $product->id}" class="w-100 text-decoration-none text-black">
        <div class="d-flex flex-wrap">
            <h2 class="w-100">{$product->name}</h2>
            <p class="w-50">{$product->description}</p>
            <p class="w-50 text-end fw-bold">{$product->price} Kč</p>
        </div>
    </a>
    <a href="" class="btn btn-success">Přidat do košíku</a>
</div>