services:
    - App\Core\RouterFactory::createRouter
    - App\Model\Authenticator  
    - App\Model\AuthorizatorFactory::create

search:
    - in: %appDir%
      classes:
        - *Facade
        - *Factory
        - *Repository
        - *Service
    - in: %appDir%/Model
      classes:
        - *Manager
    - in: %appDir%/Components
      classes:
        - *Factory
