{block content}
{control userDetail}
{if $user->isAllowed("review", "add")} 
{control addReview}
{/if}
{if $user->isAllowed("reviewGrid", "view")}
{control reviewsGrid}
{/if}

{control postGrid}

{/block}