
<div class="d-flex gap-3 mt-5 justify-content-between">
<h1>{$category->name}</h1>
<p class="rounded bg-warning p-2 my-auto">Celkem <span class="fw-bold">{$numOfProductsInCat}</span> výsledků</p>
</div>

